// Project : Canvas Agency Website
// Version: 1.0
// Developers: Chris Manda & Lusayo Mwaisimba (Co-Founders)


.services-content-area{
    @extend .project-content-area;
    padding: 3rem !important;

    .services-title{
        display: flex;
        justify-content: center;

        h2{
            margin-bottom: 2rem;
        }


    }

    .service-area{
        margin: .8rem;
        
        li{
            padding-left: 22px;
            position: relative;
            list-style-type: symbols("-") no-repeat;
        }
    }

}

.profiles-content-area{

    @extend .project-content-area;

    .profiles-title{
        
        h2{
            margin-bottom: 2rem;
        }
    }
    
    .profile-area{
        position: relative;
        width: 100%;

        .overlay {
            position: absolute;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease-in-out;
            background-color: $primary_color;
          }

          &:hover .overlay{
            opacity: 0.9;
          }

          .text{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: auto auto;

              h5{
                  justify-content: center;
                  justify-self: center;
                  color: $base_color;
              }

              span{
                  @extend .sub-text;
              }
          }
    }
}