// Project : Canvas Agency Website
// Version: 1.0
// Developers: Chris Manda & Lusayo Mwaisimba (Co-Founders)

.cnvs-services{
    
    .services-content-area{
        @extend .project-content-area;
        padding: 3rem !important;

        .services-title{
            display: flex;
            justify-content: center;

            h2{
                margin-bottom: 2rem;
            }


        }

        .service-area{
            margin: .8rem;
            
            li{
                padding-left: 22px;
                position: relative;
                list-style-type: symbols("-") no-repeat;
            }
        }

    }

//   @media screen and (max-width: 480px) {
//       .services-tabs{
//           width: 100%;
//           padding-bottom: 4rem;
//       }

//       .item{
//           padding: 1.5rem;
//           background-color: $base_color;

//           h4{
//               margin-bottom: 2rem;
//               margin-top: 1rem;
//           }

//           img{
//               width: 35px !important;
//               float: left;
//               margin-right: 1rem;
//           }
//       }

//       .owl-stage{
//             transform: translate3d(-1850px, 0px, 0px);
//             transition: all 0.25s ease 0s;
//             width: 4440px !important;
//       }

//       .owl-item, .owl-item.cloned{
//         width: 360px !important;
//         margin-right: 10px !important;
//       }
//   }
 


.services-tabs{
    width: 100%;
    padding-bottom: 4rem;
}

.item{
    width: 380px;
    padding: 1.5rem;
    background-color: $base_color;

    h4{
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    img{
        width: 35px !important;
        float: left;
        margin-right: 1rem;
    }   

}

    .owl-stage{
        transform: translate3d(-1850px, 0px, 0px);
        transition: all 0.25s ease 0s;
        width: 1000% !important;

            @media screen and (max-width: 480px) {
                width: 4440px !important;
            }

    }

    .owl-item, .owl-item.cloned{
        width: 380px;
        margin-right: 8rem !important;
        

            @media screen and (max-width: 480px) {
                width: 360px !important;
                margin-right: 10px !important;
            }
}
 
}



.profiles-content-area{

    @extend .project-content-area;

    .profiles-title{
        
        h2{
            margin-bottom: 2rem;
        }
    }
    
    .profile-area{
        position: relative;
        width: 100%;

        .overlay {
            position: absolute;
            display: flex;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease-in-out;
            background-color: $primary_color;
          }

          &:hover .overlay{
            opacity: 0.9;
          }

          .text{
              display: flex;
              flex-direction: column;
              align-items: center;
              margin: auto auto;

              h5{
                  justify-content: center;
                  justify-self: center;
                  color: $base_color;
              }

              span{
                  @extend .sub-text;
              }
          }
    }
}