// Project : Canvas Agency Website
// Version: 1.0
// Developers: Chris Manda & Lusayo Mwaisimba (Co-Founders)

.cnvs-contact-us-area {
   
    width: 100%;

    .about-us-content{
     margin-top: 15rem;

     .about-us-text{
        @media screen and (max-width: 480px){
            margin-top: 2rem;
        }
     }

     @media screen and (max-width: 480px){
            margin-top: 10rem;
        }
    }

    .mail-to-section{
        margin-top: 2rem;

        .mail-to{
            padding: 1rem 0;

            a{
                font-family: $productsans;
                color: $grey_color;

                &:hover{
                    color: $primary_color;
                }

            }
        }
    }
}
