// Project : Canvas Agency Website
// Version: 1.0
// Developers: Chris Manda & Lusayo Mwaisimba (Co-Founders)

.cnvs-processes{
    margin-bottom: 0rem !important;
    padding-bottom: 2rem !important;
}

.cnvs-process-flow{

    .process-section{
        display: flex;
        align-items: center;
    }

    .process-section-end{
        display: flex;
        justify-content: end;
    }

    .process-item{

        @include center-align;

        .process-item-img{
            width: 100px !important;
        }
    }

    .process-flow{
        .og-img{
            @media screen and (max-width: 480px) {
                display: none;
             } 
        }

        .mob-img{
            display: none;
            @media screen and (max-width: 480px) {
                display: block;
             } 
        }


        .arrow-right{
            @media screen and (max-width: 480px) {

                width: 150px;
                margin: 5rem;
               -webkit-transform: scaleX(-1) rotate(90deg) !important;
               transform: scaleX(-1) rotate(90deg) !important;

               
             } 
        }

        .arrow-left{
            @media screen and (max-width: 480px) {

                width: 150px;
                margin: 5rem 8rem 5rem 0;
               -webkit-transform: scaleX(-1) rotate(270deg) !important;
               transform: scaleX(-1) rotate(270deg) !important;

               
             } 
        }
    }



}